[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Beyond Compare
Comment=Compare, sync, and merge files and folders
Categories=Qt;Development;
Terminal=false
Exec=bcompare %f
TryExec=bcompare
Icon=${SNAP}/usr/share/pixmaps/bcompare.png
Type=Application
MimeType=application/beyond.compare.snapshot;
